absl-py==0.11.0
astor==0.8.1
astunparse==1.6.3
bert4keras==0.6.5
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
flatbuffers==1.12
gast==0.2.2
gensim==3.8.3
google-auth==1.25.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
importlib-metadata==3.4.0
joblib==1.0.0
kashgari==1.1.5
Keras==2.4.3
Keras-Applications==1.0.8
keras-bert==0.86.0
keras-embed-sim==0.8.0
keras-gpt-2==0.15.0
keras-layer-normalization==0.14.0
keras-multi-head==0.27.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.2
keras-self-attention==0.46.0
keras-transformer==0.38.0
Markdown==3.3.3
numpy==1.16.4
oauthlib==3.1.0
opt-einsum==3.3.0
pandas==1.1.5
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7
scikit-learn==0.24.1
scipy==1.5.4
seqeval==0.0.10
six==1.15.0
smart-open==4.1.2
tensorboard==1.15.0
tensorboard-plugin-wit==1.8.0
tensorflow==1.15.0
tensorflow-addons==0.12.1
tensorflow-estimator==1.15.1
termcolor==1.1.0
threadpoolctl==2.1.0
tqdm==4.56.0
typeguard==2.10.0
typing-extensions==3.7.4.3
urllib3==1.26.3
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
tensorflow-gpu==1.15.0
